#main {
    display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 100vw;
    width: 100%vw;
  }


#SxC_Base {
    z-index: -1;
    width: 80%;
    position: absolute;
    justify-self: center;
  align-self: center;
  }

.immagine {
    z-index: 0;
    width: 80%;
    position: absolute;
    justify-self: center;
  align-self: center;
  }


  #SxC_Numeri {
    z-index: 1;
    width: 80%;
      position: absolute;
    justify-self: center;
  align-self: center;
  }

#p1 {
  position: relative;
  right: 0p;
  width: 60%;
}
