#SxC_Base {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
  }

.immagine {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 0;
    width: 100%;
  }


  #SxC_Numeri {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
  }

#p1 {
  position: relative;
  right: 0p;
  width: 60%;
}
