#SxC_Base {
    position: absolute;
    z-index: -1;
    width: 80%;
    justify-content: center;
  }

.immagine {
    position: absolute;
    z-index: 0;
    width: 80%;
    justify-content: center;
  }


  #SxC_Numeri {
    position: absolute;
    z-index: 1;
    width: 80%;
    justify-content: center;
  }

#p1 {
  position: relative;
  right: 0p;
  width: 60%;
}
